body{
    background-color: black;
    color: white;
}
a{
    color: #FF69B4;
    background-color: #000080;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
a:hover{
    color: #000080;
    background-color: #FF69B4;
}
a:active,a:focus{
    color: #000000;
    background-color: green;
}
li{
    padding: 20px;
}
ul{
    list-style-type: square;
    list-style: none;
}