p{
    border: 5px;
    border-style: solid;
}
.p1{
    border-color: red;
    border-radius: 25px;
}
#p1{
    border-style: dotted;
}
.p2{
    border-color: blue;
}
#p2{
    border: 10px solid green;
    border-radius: 15px 35px 50px 10px;
}